main {
    height: 100vh;
}

.header-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    padding-left: 3%;
    padding-right: 3%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > button {
    background-color: transparent;
    border: 0;
    font-size: 1.2rem;
}

.header-title-container {
    align-items: center;
    background-color: black;
    border-radius: 13px;
    width: 44%;
}

.header-title {
    align-items: center;
    color: white;
    margin: 1vh;
    text-align: center;
}

.primary-content-container {
    height: 90vh;
}

.intro {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    color: #2D9BF1;
    font-size: 4rem;
}